<% unless message.content.nil? %>

  <div class='message'>
    
    <% if @current_user != message.issue.sender %>
      <div class='arrow-left'></div>
    <% end %>
    
    <div class=<%= @current_user == message.issue.sender ? 'message-sender' : 'message-reciever' %>>
      <p class='content'><%= message.content %></p>
    </div>
    
    <% if @current_user == message.issue.sender %>
      <div class='arrow-right'></div>
    <% end %>
    
    <% if @current_user != message.author %>
      <span class='read_at'><%= t('elements.message.read_at')%><%= message.read_at %></span>
    <% end %>
    
  </div>
<% end %>



