<% unless message.content.nil? %>

  <div class='message'>
    
    <p class='author'><%= message.author.name %></p>
    <div class=<%= message.issue.sender == message.author ? 'message-sender' : 'message-reciever' %>>
      <p class='content'><%= message.content %></p>
    </div>
    
  </div>
<% end %>



