- if current_user?
  .well
    .btn-group
      = link_to t('links.edit'), edit_user_path(@user), class: 'btn btn-primary'
- if admin?
  .well
    %div
      %b= t('elements.admin.buttons')
    .btn-group
      = link_to t('links.edit'), edit_admin_user_path(@user), class: 'btn btn-warning'