- breadcrumb :users

.row
  .col-md-3.col-md-offset-1
    .panel.panel-default
      .form-search-mounted
        = render 'users/search_form'
        
  .col-md-7.well
    .list-group
      - if @users.empty?
        .list-group-item
          %h2= t('elements.no_users')
      - else
        = render @users
      
    = will_paginate @users

