@mixin search-form-style {
  margin: 10px auto 10px auto;
  padding: 20px;
  background: #f2f2f2;
}

.form-search {
  @include search-form-style;
  width: 250px;
  border-radius: 10px;
  .form-field {
    width: 210px;
  }
}

.form-search-mounted {
  @include search-form-style;
  width: 100%;
  border-radius: 0px;
  margin: 0;
    .form-field {
    width: 100%;
  }
}

.form {
  margin: 10px auto auto;
  padding: 1px 25px 15px 25px;
  background: #f2f2f2;
  border-radius: 10px;
  .form-field {
    margin-bottom: 10px;
  }
  .field_with_errors {
    color: #b22;
  }
}

.full-width-label {
  width: 100%;
}