// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

@mixin message-inside {
  display: inline-block;
  max-width: 80%;
  background-color: $gray-lighter;
  border: 1px solid $gray-darker;
  border-radius: 6px;
  padding: 3px 5px;
  clear: left;
}

.message {
  overflow: auto;
  margin: 5px 0;
  .author {
    margin: 0 auto -4px auto;
    font-weight: bold;
  }
}
.message-sender {
  @include message-inside;
}

.message-reciever {
  @include message-inside;
  float: right;
}

.spacer-block {
  overflow: auto;
}

.send_at {
  margin: 0;
  font-size: 0.75em;
  float: right;
}

.author-reciever {
  display: block;
  .author {
    float: right;
  }
  .read_at {
    float: right;
    font-size: 0.75em;
    margin: 0;
  }
  overflow: auto;
}

.is_new {
  font-weight: normal;
}

