// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

@mixin link-style($color) {
  color: $color;
  font-style: italic;
  font-weight: bold;
  &:hover {
    color: $color;
  }
}

.message {
  .spacer {
    overflow: auto;
    
    .author {
      margin: 0 5px -2px 5px;
      color: $gray-light;
      
      a {
        @include link-style($gray);
      }
      
      .is_new {
        font-weight: normal;
      }
    }
    
    .content {
      overflow: auto;
      width: 75%;
      background-color: $gray-lighter;
      border: 1px solid $gray-darker;
      border-radius: 6px;
      padding: 3px 5px;
        
      .send_at {
        margin: 0;
        font-size: 0.75em;
      }
    }
    
    .read_at {
      margin: 0;
    }
  }
}


.reciever {
  overflow: auto;
  
  .spacer {
    overflow: auto;
    
    .author, .content, .read_at {
      float: right;
      .send_at {
        float: right;
      }
    }
  }
}



