// Place all the styles related to the offers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

@mixin bg-gradient($rot, $col1, $col2) {
    background: -webkit-linear-gradient($rot, $col1, $col1, $col2); /* For Safari 5.1 to 6.0 */
    background: linear-gradient($rot, $col1, $col1, $col2); /* Standard syntax (must be last) */
}

.offer-content {
  background-color: $gray-lighter;
  border-top: 4px solid $gray-light;
  border-left: 1px solid $gray-light;
  border-bottom: 4px solid $gray;
  border-right: 5px solid $gray;
  border-radius: 20px;
  padding: 20px 18px;
  @include bg-gradient(165deg, lighten($gray-light, 25%), lighten($gray, 15%))
}