// Place all the styles related to the offers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

.offer-content {
  background-color: $gray-lighter;
  border-top: 4px solid $gray-light;
  border-left: 1px solid $gray-light;
  border-bottom: 4px solid $gray;
  border-right: 5px solid $gray;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  padding: 20px 18px;
}

.btn-group-offer {
  margin: 0 0 -15px -15px;
}

#offer_for_message {
  display: none;
}

.price-main {
  overflow: auto;
  .price-right {
    float: right;
    border-bottom: 1px solid $gray-lighter;
    margin: 5px 15px 0 0;
    font-weight: bold;
    font-size: 1.2em;
    font-family: Tahoma, Geneva, sans-serif;
    color: $brand-success;
    .price-num {
      font-size: 1.35em;
    }
  }
  
}